/*
styles for senate cash mapping
author: tobias lunt
*/

html {
    background-color: #232325;
}

.background {
    fill: none;
    pointer-events: all;
}

.feature {
    /* fill: #ececec; */
    fill: #ebe7de;
    cursor: pointer;
}

.feature.active {
    /* fill: #3e3ede; */
    fill: #6a8fd0;
}

.mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.senate_center {
    opacity: 1;
    stroke-width: 7px;
    vector-effect: non-scaling-stroke;
}

.node .active_sen {
    opacity: 1;
    fill: none;
}

.node .inactive_sen {
    opacity: .1;
    fill: none;
}

/* sunburst introspection sizing */
#introspect {
  width: 600px;
  height: 35px;
}

/* sunburst introspection text */
#introspect text {
    /*     font-size: .8em; */
  font-weight: 600;
  font-family: "Courier New", Times, serif;
  fill: #e5e1d8;
  text-shadow: #43435f 0px 0px 2px,   #43435f 0px 0px 2px,   #43435f 0px 0px 2px,
               #43435f 0px 0px 2px,   #43435f 0px 0px 2px,   #43435f 0px 0px 2px;
}

