<!-- templates/home.html -->
<!-- <h1>Homepage</h1>  -->
<meta charset="utf-8">
<html>

  {% load staticfiles %}

  <!-- load d3 and topojson  -->  
  <script src="//d3js.org/d3.v3.min.js"></script>
  <script src="//d3js.org/topojson.v1.min.js"></script>

  <!-- set some css  -->  
  <style>
  .background {
    fill: none;
    pointer-events: all;
  }

  .feature {
    fill: #ececec;
    cursor: pointer;
  }

  .feature.active {
    fill: #3e3ede;
  }

  .mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  </style>
    
  <head>
  </head>

  <body>
    <!-- add the d3 to the body  -->  
    <script type="text/javascript" src="{% static 'map.js' %}"> </script>

    <!-- add the us.json map element  
    <script>
      d3.json("{% static 'us.json' %}", function(error, us) { 
      if (error) throw error;
    </script>-->
  </body>
</html>
