<!-- templates/home.html -->
<!-- <h1>Homepage</h1>  -->
<meta charset="utf-8">
<html>

  {% load staticfiles %}

  <!-- load d3 and topojson  -->  
  <script src="//d3js.org/d3.v3.min.js"></script> 
  <script src="//d3js.org/topojson.v1.min.js"></script>

  <!-- set some css  -->  
  <link rel="stylesheet" href="{% static 'style.css' %}">
    
  <head>
  </head>

  <body>
    <!-- https://jsfiddle.net/unklefolk/nyaw6nje/  -->      
    <form>
      <label><input type="radio" name="mode" value="size"> Size</label>
      <label><input type="radio" name="mode" value="count" checked> Count</label>
    </form>
    <!-- add the d3 to the body  -->  
    <script type="text/javascript" src="{% static 'map.js' %}"> </script>
  </body>
</html>
